.App {
  text-align: center;
}
body {
  /* / overflow: hidden; / */
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.itemStyle {
  /* / height: 40rem; / */
  width: 25rem;
  /* / border: 1px rgba(88, 86, 86, 0.2) solid; / */
  border-color: transparent;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin: 1rem;
}

.itemStyle :hover {
  border: 0.08 rem solid rgba(116, 110, 110, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  /* / overflow: hidden; / */
}

.itemStyle :hover .marginAuto {
  transform: scale(1.4);
}
.marginAuto {
  /* / margin: auto; */
  /* text-align: center; */
  /* border: 0px; / */
  transition: all 0.5s linear;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navbar {
  transition: top 0.5s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
